---
import Home from "../components/Home.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<style>
	html, body {
	  height: 100%;
	  margin: 0;
	}
  
	.page-container {
	  display: flex;
	  flex-direction: column;
	  min-height: 100vh;
	}
  
	.content-wrap {
	  flex: 1;
	}
  </style>
  
  <div class="page-container">
	<Layout>
	  <Header />
	  <div class="content-wrap">
		<Home />
	  </div>
	  <Footer />
	</Layout>
  </div>