---

---

<section
  id="about"
  class="py-20 transition-colors duration-300 bg-white dark:bg-gray-900"
>
  <div class="container px-4 mx-auto">
    <div class="mb-16 text-center" data-aos="fade-up">
      <h2 class="mb-4 text-3xl font-bold md:text-4xl">Sobre mí</h2>
      <div class="w-20 h-1 mx-auto rounded-full gradient-bg"></div>
    </div>

    <div class="flex flex-col items-center gap-12 md:flex-row">
      <div class="md:w-1/2" data-aos="fade-right">
        <img
          src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1772&q=80"
          alt="Developer working"
          class="w-full rounded-lg shadow-xl"
        />
      </div>

      <div class="md:w-1/2" data-aos="fade-left">
        <h3 class="mb-4 text-2xl font-semibold">
          Soy un <span class="gradient-text"
            >Desarrollador y Administrador de Sistemas</span
          > con experiencia en tecnologías web, aplicaciones y en sistemas informáticos
        </h3>

        <p
          class="mb-6 text-gray-600 transition-colors duration-300 dark:text-gray-400"
        >
          Desde pequeño siempre me ha gustado la tecnología y la informática. Me gusta aprender cosas nuevas constantemente en este ámbito.
        </p>

        <p
          class="mb-6 text-gray-600 transition-colors duration-300 dark:text-gray-400"
        >
          Empecé estudiando Administración de Sistemas Informáticos en Red y posteriormente me especialicé en Desarrollo de Aplicaciones Multiplataforma.
          Tras estar trabajando brevemente de Administrador de Sistemas, decidí dar el salto al mundo del desarrollo web y aplicaciones, algo que siempre he
          querido hacer.
        </p>
      </div>
    </div>
  </div>
</section>
