---
const identity = {
  firstName: "Markel",
  country: "España",
  occupation: "Desarrollador Full-Stack",
  hobbies: ["programar", "jugar a videojuegos", "ver series"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Vue.js",
  "Node.js",
  "SQL",
];

const happy = true;
const finished = false;
const goal = 3;
---

<div class="aboutme-container">
  <h1>Sobre mí</h1>
  <h3>
    Hola, soy {identity.firstName}, un desarrollador Full-Stack de {identity.country}. Me encanta programar, jugar a videojuegos y ver series.
  </h3>
</div>
