---

---

<section
  id="contact"
  class="py-20 transition-colors duration-300 bg-gray-50 dark:bg-gray-800"
>
  <div class="container px-4 mx-auto">
    <div class="mb-16 text-center" data-aos="fade-up">
      <h2 class="mb-4 text-3xl font-bold md:text-4xl">Contáctame</h2>
      <div class="w-20 h-1 mx-auto rounded-full gradient-bg"></div>
      <p
        class="max-w-2xl mx-auto mt-4 text-gray-600 transition-colors duration-300 dark:text-gray-400"
      >
        ¿Te gustaría contactar conmigo? No dudes en hacerlo. Estoy disponible
        para cualquier cosa.
      </p>
    </div>

    <div class="max-w-2xl mx-auto" data-aos="fade-up">
      <div
        class="p-8 transition-colors duration-300 bg-white rounded-lg shadow-md dark:bg-gray-900"
      >
        <h3
          class="mb-6 text-2xl font-semibold transition-colors duration-300 dark:text-white"
        >
          Información de contacto
        </h3>

        <div class="space-y-6">
          <div class="flex items-start gap-4">
            <div class="p-3 text-white rounded-lg gradient-bg">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 transition hover:scale-110"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                ></path>
              </svg>
            </div>
            <div>
              <h4
                class="text-lg font-semibold transition-colors duration-300 dark:text-white"
              >
                E-mail
              </h4>
              <span
                onclick="navigator.clipboard.writeText('markromagonz@gmail.com');"
                class="ctext-gray-600 transition-colors duration-300 dark:text-gray-400 cursor-pointer"
                title="Haz clic para copiar"
                data-tooltip-placement="bottom"
              >
                markromagonz@gmail.com
              </span>
            </div>
          </div>

          <div class="flex items-start gap-4">
            <div class="p-3 text-white rounded-lg gradient-bg">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 transition hover:scale-110"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
                ></path>
              </svg>
            </div>
            <div>
              <h4
                class="text-lg font-semibold transition-colors duration-300 dark:text-white"
              >
                Teléfono
              </h4>
              <p
                class="text-gray-600 transition-colors duration-300 dark:text-gray-400"
              >
                +34 688 71 12 55
              </p>
            </div>
          </div>
        </div>

        <div class="mt-8">
          <h3
            class="mb-4 text-xl font-semibold transition-colors duration-300 dark:text-white"
          >
            Mis redes sociales
          </h3>
          <div class="flex space-x-4">
            <a
              href="https://linktr.ee/markel05"
              title="Linktree"
              target="_blank"
              rel="noopener noreferrer"
              class="p-3 text-gray-700 transition-colors duration-300 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300 dark:hover:text-secondary hover:text-primary"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="26"
                height="26"
                fill="currentColor"
                class="bi bi-link-45deg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"
                ></path>
                <path
                  d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
