---
const currentYear = new Date().getFullYear();
---

<footer class="py-6 dark:bg-gray-800">
    <div class="text-center">
      <p class="text-gray-700 dark:text-gray-300 mb-3">
        &copy; {currentYear} · Markel05
      </p>
      <a class="text-gray-800 hover:text-primary dark:text-gray-400 text-sm dark:hover:text-white transition" href="#home">Volver arriba</a>
    </div>
  </div>
</footer>
