---
import { Image } from "astro:assets";
import logoImg from "../assets/images/MarkelDev-logo.png";

const currentPath = Astro.url.pathname;

const isActive = (path: string) => (currentPath === path ? "active" : "");
---

<body>
  <header>
    <div class="logo-container">
      <a href="/" title="Volver a la página de inicio">
        <Image
          height={50}
          width={70}
          src={logoImg}
          alt="Logo de la página"
          loading={"eager"}
        />
      </a>
    </div>
    <nav>
      <button class="menu-toggle" aria-label="Menú"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
          ></path>
        </svg></button
      >
      <ul id="menu">
        <li><a id="inicio" href="/" class={isActive("/")}>Inicio</a></li>
        <li>
          <a id="sobre-mi" href="/about" class={isActive("/about")}>Sobre mí</a>
        </li>
        <li>
          <a id="proyectos" href="/projects" class={isActive("/projects")}
            >Proyectos</a>
        </li>
        <li>
          <a id="contacto" href="/contact" class={isActive("/contact")}
            >Contacto</a>
        </li>
      </ul>
    </nav>
  </header>
</body>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.2rem;
    background-color: #0a0a0a;
    color: white;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo-container img:hover {
    transform: rotate(360deg);
    transition: transform 0.5s ease;
  }

  .logo-container img {
    margin: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
    color: white;
  }

  nav ul li a:hover {
    color: #ff6347;
    border: 1px solid #333;
    padding: 0.5rem;
    border-radius: 1rem;
  }

  nav ul li a.active {
    border: 1px solid #333;
    padding: 0.5rem;
    border-radius: 1rem;
  }

  nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    position: relative;
  }

  nav ul li a {
    color: white;
    font-family: "Roboto", serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }

  nav ul li a:hover {
    color: #ff6347;
  }

  nav ul li a:hover::after {
    width: 100%;
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .menu-toggle:hover {
    color: #ff6347;
    transition: color 0.3s ease;
  }

  @media (max-width: 590px) {
    .menu-toggle {
      display: block;
    }

    nav ul {
      flex-direction: column;
      position: fixed;
      top: 77px;
      left: -100%;
      width: 100%;
      height: calc(100% - 80px);
      background-color: #0a0a0a;
      padding-top: 2rem;
      transition: left 0.3s ease;
    }

    nav ul.show {
      display: flex;
      align-items: center;
      left: 0;
    }

    nav ul li {
      margin-bottom: 1rem;
    }

    nav ul li a {
      font-size: 1.5rem;
    }
  }
</style>

<script></script>
