---
import Aboutme from "./Aboutme.astro";
import Projects from "./Projects.astro";
import WelcomeHeader from "./WelcomeHeader.astro";
---

<body>
  <section class="home-header">
    <WelcomeHeader title="Home" />
  </section>

  <section class="container">
    <Aboutme title="Sobre mí" />
  </section>

  <section class="container">
    <Projects title="Proyectos" />
  </section>
</body>
<style>
  ul li {
    list-style: none;
  }

  .home-header {
    height: 100vh;
    padding: 11rem;
    text-align: center;
  }

  .subtitle {
    font-family: "Afacad Flux";
    font-size: 2rem;
    color: white;
  }
</style>
