---
const minibio = "Full-Stack Developer";
const bio =
  "Soy un desarrollador apasionado por la tecnología y la innovación. Me encanta aprender nuevas tecnologías y aplicar mis conocimientos para resolver problemas del mundo real.";
const welcomeMessage = "¡Hola, soy Markel!";
---

<body>
  <section class="home-header">
    <div class="welcome-info">
      <h1>{welcomeMessage}</h1>
      <p class="subtitle">{minibio}</p>
    </div>
  </section>

  <section class="container">
    <p>{bio}</p>
  </section>

  <section class="container">
    <h2>Proyectos</h2>
    <p>Estos son algunos de los proyectos en los que he trabajado:</p>
    <ul>
      <li>
        <a href="/posts/post-1">Proyecto 1</a>
      </li>
      <li>
        <a href="/posts/post-2">Proyecto 2</a>
      </li>
      <li>
        <a href="/posts/post-3">Proyecto 3</a>
      </li>
    </ul>
  </section>
</body>
<style>
  ul li {
    list-style: none;
  }

  .home-header {
    padding: 11rem;
    text-align: center;
  }

  .subtitle {
    font-family: "Afacad Flux";
    font-size: 2rem;
    color: white;
  }
</style>
