---
const minibio = "Full-Stack Developer";
const bio =
  "Soy un desarrollador apasionado por la tecnología y la innovación. Me encanta aprender nuevas tecnologías y aplicar mis conocimientos para resolver problemas del mundo real.";
const welcomeMessage = "Hola, soy Markel";
---

<section class="home-header">
  <div class="welcome-info">
    <h1>{welcomeMessage}</h1>
    <p class="subtitle">{minibio}</p>
  </div>
</section>

<section class="container">
  <p>{bio}</p>
</section>

<style>
  body {
	background: linear-gradient(135deg, #1e1e1e, #2c3e50);
    margin: 0;
    padding: 0;
  }
  .home-header {
    padding: 11rem;
    text-align: center;
  }
  h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
	font-size: 5rem;
  }
  p {
    color: white;
  }

  .subtitle {
	font-size: 2rem;
	color: white;
  }
</style>
