---
const welcomeMessage = "¡Hola, soy Markel!";
const minibio = "Full-Stack Developer";
const bio =
  "Soy un desarrollador apasionado por la tecnología y la innovación. Me encanta aprender nuevas tecnologías y aplicar mis conocimientos para resolver problemas del mundo real.";
---

<section class="welcome-header">
  <div class="welcome-info">
    <h1>{welcomeMessage}</h1>
    <p class="subtitle">{minibio}</p>
  </div>
</section>
