---
import "bootstrap/dist/css/bootstrap.css";
import "../styles/global.css";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Markel05 Developer Portfolio</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
